.Skills {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .Skills-post {
    background: #4e8f84;
    padding: 5px;
    font-size: large;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f1f1f1;
  }
  
.Skills-image{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin:20px;
}

.Skills-dot {
    height: 22px;
    width: 22px;
    background-color: #F8C8DC;
    border: 3px solid #e0b3c6;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }

  .Skills-dot-blank {
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 3px solid #e0b3c6;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }